/* Global styles and overrides */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: 700;
  color: #1d2b36;
}

strong {
  -webkit-font-smoothing: auto;
}

/* Nav */
#mainNav {
  position: relative;
  z-index: 2;
}

.container-fluid {
  max-width: 1250px;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .container-fluid {
    width: 95%;
  }
}

/* Footer */

footer p {
  font-size: 13px;
  color: #556575;
}

footer p a {
  color: #556575;
}

/* Category: single tile */

/* Internal category with no icons */
#collection-category-8 .category {
  padding-top: 60px;
  min-height: 190px;
}

.category-list {
  margin-top: 20px;
}

.category-list .category {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px, rgb(241, 243, 245) 0px 2px 10px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 30px 30px 0;
  padding: 135px 50px 40px;
  min-height: 285px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  text-decoration: none;
}

.category-list .category,
.category-list .category:hover {
  background-repeat: no-repeat;
  background-position: center 36px;
  background-size: 80px 80px;
}

.category-list .category:hover {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(220, 223, 226, 0.3) 0px 30px 60px 0px, rgba(0, 0, 0, 0.1) 0px 8px 20px 0px;
}

/*.category-list .category:active {
  box-shadow: 0 0 0px 2px #1292EE inset;
  outline: none;
}*/

.category-list .category:hover .article-count {
  color: #0077cc;
}

.category-list .category:focus .article-count,
.category-list .category:active .article-count {
  color: #005ca4;
}

@media screen and (max-width: 759px) {
  .category-list .category {
    margin-right: 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 1104px) {
  .category-list .category {
    width: calc(100% / 2 - 17px);
  }

  .category-list .category:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1105px) {
  .category-list .category {
    width: calc(100% / 3 - 23px);
  }

  .category-list .category:nth-child(3n + 3) {
    margin-right: 0;
  }

  #collection-category-8 .category {
    padding-top: 60px;
    min-height: 190px;
  }
}

.category-list h3 {
  color: #051849;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.category-list .category p {
  color: #7f8d9b;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 20px;
}

.category-list .category .article-count {
  margin-bottom: 0;
  color: #0077cc;
  transition: color 0.2s ease-in-out;
}

.category-list .category,
.category-list.two-col .category {
  margin-bottom: 30px;
}

.collection-category h2 a {
  color: #1d2b36;
}

.collection-category h2 {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -0.35px;
  margin-bottom: 20px;
  padding: 0;
}

.collection-category .category-list {
  margin-bottom: 50px;
}

.category-list.two-col .category {
  min-height: 240px;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .category-list.two-col .category {
    width: calc(100% / 3 - 23px);
  }
}

.category-list.two-col .category:last-child {
  margin-right: 0;
}

/* Category: icons */

#category-82 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='info-circle' class='svg-inline--fa fa-info-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23A190F2' d='M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-5 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='info-circle' class='svg-inline--fa fa-info-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23A190F2' d='M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-6 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='stars' class='svg-inline--fa fa-stars fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23A190F2' d='M415.99814,80.0021a7.297,7.297,0,0,0-3.68757-5.96246L362.669,53.338,341.96545,3.697a6.65746,6.65746,0,0,0-11.926,0L309.33591,53.338,259.69042,74.03964a6.66417,6.66417,0,0,0,0,11.92493l49.64549,20.69969,20.70353,49.643a6.65746,6.65746,0,0,0,11.926,0L362.669,106.66426l49.64159-20.69969A7.31629,7.31629,0,0,0,415.99814,80.0021Zm93.05649,139.2264L469.339,202.67109,452.7801,162.961a5.32533,5.32533,0,0,0-9.53925,0L426.678,202.67109l-39.7117,16.55741a5.33544,5.33544,0,0,0,0,9.54033L426.678,245.3282l16.56282,39.7081a5.32376,5.32376,0,0,0,9.53925,0L469.339,245.3282l39.71561-16.55937a5.33544,5.33544,0,0,0,0-9.54033Z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M364.294,267.29343,259.4951,251.99764l-46.90716-95.19633c-8.39078-16.99879-32.68813-17.2019-41.18829,0l-46.90716,95.19633L19.69358,267.29343C.89634,269.99636-6.71318,293.19783,6.99021,306.49376l75.90772,73.99472L64.89758,485.07476c-3.20319,18.9049,16.68782,33.107,33.29752,24.2014l93.7987-49.3871,93.79869,49.3871A22.95361,22.95361,0,0,0,319.09,485.07476L301.199,380.48848l75.89209-73.99472C390.70077,293.19783,383.09125,269.99636,364.294,267.29343Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-62 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='user-astronaut' class='svg-inline--fa fa-user-astronaut fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23A190F2' d='M296 96H152c-26.5 0-48 17.9-48 40v24a96 96 0 0 0 96 96h48a96 96 0 0 0 96-96v-24c0-22.1-21.5-40-48-40zm-108 76l-12 36-12-36-36-12 36-12 12-36 12 36 36 12zm-12 276a16 16 0 0 0-16 16v48h32v-48a16 16 0 0 0-16-16zm96 0a16 16 0 1 0 16 16 16 16 0 0 0-16-16z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M327.6 321.4a190.68 190.68 0 0 1-207.2 0C52.9 328.5 0 385 0 454.4v9.6a48 48 0 0 0 48 48h80v-64a32 32 0 0 1 32-32h128a32 32 0 0 1 32 32v64h80a48 48 0 0 0 48-48v-9.6c0-69.4-52.9-125.9-120.4-133zM64 224h13.5a159.78 159.78 0 0 0 293 0H384a16 16 0 0 0 16-16v-96a16 16 0 0 0-16-16h-13.5a159.78 159.78 0 0 0-293 0H64a16 16 0 0 0-16 16v96a16 16 0 0 0 16 16zm40-88c0-22.1 21.5-40 48-40h144c26.5 0 48 17.9 48 40v24a96 96 0 0 1-96 96h-48a96 96 0 0 1-96-96z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-25 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='project-diagram' class='svg-inline--fa fa-project-diagram fa-w-20' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23D9D2FA' d='M416 128H164.65l91.63 160H256a63.79 63.79 0 0 0-55.12 32L54.78 64H416z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M384 320H256a32 32 0 0 0-32 32v128a32 32 0 0 0 32 32h128a32 32 0 0 0 32-32V352a32 32 0 0 0-32-32zM160 0H32A32 32 0 0 0 0 32v128a32 32 0 0 0 32 32h128a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32zm448 0H480a32 32 0 0 0-32 32v128a32 32 0 0 0 32 32h128a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-82 {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='grin-hearts' class='svg-inline--fa fa-grin-hearts fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cg class='fa-group'%3E%3Cpath class='fa-secondary' fill='%23D9D2FA' d='M248,8C111,8,0,119,0,256S111,504,248,504,496,393,496,256,385,8,248,8ZM90.4,183.6c6.7-17.6,26.7-26.7,44.9-21.9l7.1,1.9,2-7.1c5-18.1,22.8-30.9,41.5-27.9a35.38,35.38,0,0,1,29.71,40.26h0a35.93,35.93,0,0,1-.91,4.24L195.3,243a8.59,8.59,0,0,1-10.5,6l-70.2-18.2a35.49,35.49,0,0,1-25.47-43.25h0A34.27,34.27,0,0,1,90.4,183.6ZM391.8,338.7c-9.3,55-83.2,93.3-143.8,93.3s-134.5-38.3-143.8-93.3a16,16,0,0,1,20.7-17.9C155.1,330.5,200,336,248,336s92.9-5.5,123.1-15.2a16.08,16.08,0,0,1,20.7,17.9Zm-10.4-108-70.2,18.2a8.68,8.68,0,0,1-10.5-6L281.3,173a35.38,35.38,0,0,1,24.54-43.59h0a35.93,35.93,0,0,1,4.24-.91c18.6-3,36.4,9.8,41.5,27.9l2,7.1,7.1-1.9c18.2-4.7,38.2,4.3,44.9,21.9a35.42,35.42,0,0,1-20.1,45.88,36.92,36.92,0,0,1-4.1,1.32Z' opacity='0.4'%3E%3C/path%3E%3Cpath class='fa-primary' fill='%236246EA' d='M185.9,128.6c-18.7-3-36.5,9.8-41.5,27.9l-2,7.1-7.1-1.9c-18.2-4.8-38.2,4.3-44.9,21.9a35.5,35.5,0,0,0,20.25,45.93,36.32,36.32,0,0,0,3.95,1.27L184.8,249a8.59,8.59,0,0,0,10.5-6l19.4-69.9a35.38,35.38,0,0,0-24.54-43.59h0a35.93,35.93,0,0,0-4.24-.91Zm219.7,54.9c-6.7-17.6-26.7-26.6-44.9-21.9l-7.1,1.9-2-7.1c-5.1-18.1-22.9-30.9-41.5-27.9a35.38,35.38,0,0,0-29.71,40.26h0a35.93,35.93,0,0,0,.91,4.24l19.4,69.9a8.68,8.68,0,0,0,10.5,6l70.2-18.2a35.4,35.4,0,0,0,25.52-43.08v0a36.92,36.92,0,0,0-1.32-4.1Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category-230 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-productivity.jpg');
}

#category-24 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-user-settings.jpg');
}

#category-604 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-mobile-apps.jpg');
}

#category-234 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-integrations.jpg');
}

#category-1205 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-start-with-beacon.jpg');
}

#category-1358 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-messages.jpg');
}

#category-1211 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-live-chat.jpg');
}

#category-41 {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-working-with-docs.jpg');
}

#category-126 {
  background-image: url(https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-managing-docs.jpg);
}

#category-217 {
  background-image: url(https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/docs-icon-formatting-content.jpg);
}

.nav-collapse .nav {
  margin-top: 40px;
}

.navbar .navbar-inner {
  background-color: #ffeae0;
  box-shadow: none;
}

.navbar .nav > li > a {
  font-size: 15px;
  padding: 0 20px;
  -webkit-font-smoothing: auto;
}

@media screen and (max-width: 768px) {
  .navbar .nav > li > a {
    padding: 15px 20px;
  }

  #contactMobile {
    display: block;
  }
}

.navbar .nav #contact a {
  padding-right: 0;
}

.navbar .nav li a,
.navbar .icon-private-w {
  color: #1b2644;
  transition: color 0.2s;
}

.navbar .brand {
  background-size: 100%, auto;
  height: 30px;
  width: 150px;
  padding: 0;
  margin-top: 29px;
}

.navbar .brand span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#mainNav .container-fluid {
  min-height: 90px;
  line-height: 90px;
}

.navbar .btn-navbar {
  right: 0;
  margin-right: 0;
  padding-right: 0;
}

.navbar .btn-navbar .icon-bar {
  width: 20px;
}

@media screen and (max-width: 768px) {
  .navbar .btn-navbar {
    margin-top: 32px;
  }

  .navbar .btn-navbar .icon-bar {
    background: #fff;
  }
}

.navbar .nav .active .caret {
  display: none;
}

.navbar .nav .active a {
  font-weight: 500;
  color: #1b2644;
}

.nav .icon-private-w:before {
  display: none;
}

.nav .icon-private-w {
  background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--lock-white.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  display: inline-block;
  opacity: 0.6;
  position: relative;
  top: 5px;
  left: -2px;
}

@media screen and (min-width: 768px) {
  .nav #internal {
    position: relative;
  }
}

.nav > li.active .icon-private-w,
.nav > li a:hover .icon-private-w {
  opacity: 1;
}

/* Search Hero */

#docsSearch h1 {
  color: #1b2644;
  display: block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.35px;
  line-height: 55px;
  margin: 0;
  padding-top: 3.25em;
  position: relative;
  text-align: center;
  z-index: 2;
}

#docsSearch {
  position: relative;
  border: none;
  background-color: #ffeae0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  background-image: url(https://dl.dropbox.com/s/l1wwq6p8vj4y89q/texture-bg.svg?dl=0);
  background-position: bottom center;
  background-position-y: -100px;
  background-size: 1200px;
  background-repeat: no-repeat;
}

#docsSearch::before. #docsSearch::after {
  pointer-events: none;
}

#searchBar {
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  #docsSearch {
    height: 250px;
    background: #ffeae0;
    border-bottom: none;
    padding-top: 75px;
    position: relative;
    top: -1px;
  }

  #docsSearch h1 {
    max-width: 400px;
    padding-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    line-height: 1.3;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1899px) {
  #docsSearch {
    height: 360px;
  }

  #docsSearch h1 {
    font-size: 36px;
    padding-top: 2.8em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1399px) {
  #docsSearch::before {
    left: 5%;
  }

  #docsSearch::after {
    left: 90%;
  }
}

@media screen and (min-width: 1300px) {
  #docsSearch::before {
    left: 10%;
  }

  #docsSearch::after {
    left: 85%;
  }
}

@media screen and (min-width: 1900px) {
  #docsSearch {
    height: 300px;
  }

  #docsSearch::before {
    left: 18%;
    width: 580px;
  }

  #docsSearch::after {
    left: 84%;
    width: 580px;
  }
}

@media screen and (min-width: 2300px) {
  #docsSearch::before {
    left: 20%;
  }

  #docsSearch::after {
    left: 80%;
  }
}

/* Inputs */

input[type='text'],
input[type='email'],
textarea {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #a5b2bd;
  padding: 0 12px;
  font-size: 14px;
  box-shadow: none;
  font-family: Graphik, Helvetica, Arial, sans-serif;
}

input::placeholder {
  color: #93a1b0;
}

input[type='email']:focus,
input[type='text']:focus,
textarea:focus {
  -webkit-box-shadow: 2px 2px 0px 0px rgba(98, 70, 234, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(98, 70, 234, 1);
  box-shadow: 2px 2px 0px 0px rgba(98, 70, 234, 1);
  border: 2px solid rgb(98, 70, 234);
}

label {
  font-size: 14px;
}

/* Contact button */

.btn,
input[type='submit'] {
  border: none;
  text-shadow: none;
  background: #38408b;
  font-weight: 500;
  font-size: 17px;
  width: 160px;
  border-radius: 4px;
  color: white;
  height: 42px;
  width: 90px;
}

/* Search form */

#searchBar .search-query::placeholder {
  color: #a5b2bd;
}

#searchBar .search-query {
  padding: 0 55px 0 12px;
}

@media screen and (max-width: 767px) {
  #searchBar {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #searchBar {
    width: 440px;
  }
}

@media screen and (min-width: 1440px) {
  #searchBar {
    width: 712px;
  }
}

@media screen and (min-width: 1025px) {
  #searchBar {
    width: 635px;
    display: block;
  }

  #searchBar .search-query {
    border: 2px solid #101426;
    color: #253642;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    height: 55px;
    letter-spacing: 0.2px;
    padding: 0 15px;
    width: 460px;
    display: block;
    margin-right: 0;
    transition: all 0.2s ease-in-out;
  }

  #searchBar .search-query:focus {
    border: 2px solid #101426;
    color: #253642;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
  }

  #searchBar button {
    display: inline-block;
  }
}

#searchBar button .icon-search {
  color: #9ba9b5;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  #searchBar button .icon-search {
    display: block;
  }

  #searchBar button {
    background: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon-search.svg') center center no-repeat;
    border: 0;
    padding: 0 30px;
    position: absolute;
    right: 0;
    text-shadow: none;
    transition: all 0.2s ease-in-out;
  }

  #searchBar button:focus,
  #searchBar button:active {
    background: #f1f3f5 url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon-search.svg') center center no-repeat;
  }

  #searchBar button span {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  #searchBar button {
    background: #ff6e76;
    border: 2px solid #101426;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    height: 55px;
    text-shadow: none;
    width: 160px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgb(158, 159, 165);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    transition: all 0.2s ease-in-out;
  }
  #searchBar button:hover {
    background: #ff6e76;
    transform: translate(1px, 1px);
    transition: 0.2s;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
  }

  #searchBar button:active {
    background: #ff6e76;
    transform: translate(2px, 2px);
    transition: 0.2s;
    box-shadow: none;
  }

  /* Article: content wrapper */

  .contentWrapper,
  .related {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    color: #556575;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(241, 243, 245) 0px 5px 20px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
    padding: 30px;
    word-break: break-word;
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    .contentWrapper {
      padding: 50px 55px;
    }
  }

  @media screen and (min-width: 1000px) {
    .contentWrapper {
      padding: 70px 90px;
    }
  }

  .contentWrapper h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.35px;
    margin-bottom: 0.5em;
  }

  @media screen and (min-width: 1000px) {
    .contentWrapper h1 {
      font-size: 36px;
    }
  }

  .contentWrapper a,
  a {
    color: #ff6e76;
    font-weight: 700;
    text-decoration: underline;
  }

  .contentWrapper a:hover,
  a:hover {
    color: #3b2a8c;
    text-decoration: underline;
  }

  .related {
    border-radius: 4px;
    margin-top: 30px;
    padding: 30px;
  }

  .related h3 {
    font-size: 13px;
    padding-left: 0;
    letter-spacing: 0.7px;
  }

  .related ul {
    margin-left: 0;
  }

  .related ul > li a {
    margin-left: 0;
  }

  @media screen and (min-width: 1000px) {
    .related {
      padding: 40px 90px;
    }
  }

  /* Article: typography */

  #fullArticle {
    margin: 0 auto;
    max-width: 720px;
  }

  #fullArticle p,
  #fullArticle ul,
  #fullArticle ol,
  #fullArticle li,
  #fullArticle div,
  #fullArticle blockquote,
  #fullArticle dd,
  #fullArticle table {
    color: #1d2b36; /* charcoal, 800 */
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 1.5em;
  }

  #fullArticle a strong {
    color: #ff6e76;
  }

  #fullArticle li {
    margin-bottom: 10px;
  }

  #fullArticle h1.title {
    margin: 0 1em 1.2em 0;
  }

  #fullArticle h3 {
    -webkit-font-smoothing: auto;
    color: #1d2b36;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin: 1.8em 0 0.8em;
  }

  @media screen and (min-width: 768px) {
    #fullArticle h3 {
      font-size: 26px;
      line-height: 36px;
    }
  }

  #fullArticle h4 {
    -webkit-font-smoothing: auto;
    color: #1d2b36;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 2em 0 1.25em;
  }

  @media screen and (min-width: 768px) {
    #fullArticle h4 {
      font-size: 22px;
      line-height: 32px;
    }
  }

  #fullArticle h5 {
    -webkit-font-smoothing: auto;
    color: #1d2b36;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 1em 0 0.5em;
  }

  @media screen and (min-width: 768px) {
    #fullArticle h4 {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .contentWrapper p.descrip {
    color: #556575;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 0;
    line-height: 1.6;
  }

  @media screen and (min-width: 1000px) {
    .contentWrapper p.descrip {
      margin-bottom: 0;
      max-width: 30rem;
    }
  }

  #fullArticle img {
    border: 1px solid #d5dce1;
    margin: 2em 0 3em;
    padding: 0;
  }

  #fullArticle .index-list {
    background: #f9fafa;
    border-left: 4px solid #aaaeb7;
    margin: 3em 0;
    padding: 15px 0px;
  }

  #fullArticle .index-list:before,
  #fullArticle .index-list:after {
    display: table;
    content: '';
    line-height: 0;
  }

  #fullArticle .index-list::after {
    clear: both;
  }

  #fullArticle .index-list ul {
    list-style: none;
    margin: 0.7em 25px 0em 0;
    float: left;
    width: 100%;
  }

  #fullArticle .index-list li {
    padding-left: 25px;
  }

  @media screen and (min-width: 1000px) {
    #fullArticle .index-list li {
      float: left;
      width: 45%;
    }
  }

  #fullArticle .index-list h4 {
    text-transform: uppercase;
    margin: 0;
    padding: 8px 26px 0;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  #fullArticle dt {
    padding: 0;
    width: 26px;
    background: #a5b2bd;
    height: 26px;
    line-height: 26px;
    font-weight: 500;
    font-size: 14px;
  }

  #fullArticle dd {
    margin-left: 40px;
  }

  .articleList {
    box-sizing: border-box;
    margin-top: 34px;
    padding-top: 25px;
    position: relative;
  }

  .articleList:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 4px;
    left: 0;
    background: #404996;
  }

  .articleList li a:hover span {
    color: #005ca4;
    text-decoration: none;
  }

  .articleList li a i {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .articleList li {
      font-size: 16px;
    }
  }

  .articleList li {
    margin: 1em 0;
    padding-left: 0;
    font-size: 18px;
  }

  .articleList a {
    margin-left: 0;
  }

  /* Article: Category menu */

  @media screen and (max-width: 768px) {
    #sidebar {
      margin-top: 40px;
    }
  }

  #sidebar h3 {
    font-size: 18px;
    text-transform: none;
    color: #1d2b36;
  }

  #sidebar .nav-list {
    margin: 20px 0;
  }

  #sidebar .nav-list a {
    font-size: 15px;
    color: #405261;
    padding: 8px 15px 8px 0;
    text-decoration: none;
  }

  #sidebar .nav-list a:hover {
    color: #ff6e76;
  }

  #sidebar .nav-list .active a,
  #sidebar .nav-list .active a:hover,
  #sidebar .nav-list .active a:focus {
    font-weight: 700;
    color: #ff6e76;
  }

  .icon-arrow:before {
    color: rgb(238, 130, 134);
  }

  #searchBar.sm button {
    width: 40px;
    top: 1px;
    right: 0;
    background: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon-search.svg') center center no-repeat;
  }

  #searchBar.sm button:hover {
    background: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon-search.svg') center center no-repeat;
  }

  #sidebar form .search-query {
    border: 2px solid #101426;
    border-radius: 5px;
    height: 42px;
    font-size: 14px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
  }

  #sidebar form .search-query:focus {
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    border: 2px solid #101426;
  }
  #categoryHead .sort select {
    font-size: 12px;
    height: 28px;
  }

  #categoryHead .sort {
    position: relative;
    top: 0;
  }

  @media screen and (min-width: 1000px) {
    #categoryHead .sort {
      position: absolute;
      right: 0;
      top: 8px;
    }
  }

  /* Article: Main content */

  #main-content {
    box-sizing: border-box;
    background: none;
  }

  @media screen and (max-width: 768px) {
    #main-content {
      margin: 20px 0 0;
    }
  }

  /* Article: Misc styles */

  #fullArticle .callout-yellow,
  #fullArticle .callout-blue,
  #fullArticle .callout-red,
  #fullArticle .callout-green,
  #fullArticle .callout,
  #fullArticle .private-note {
    border-left-width: 4px;
  }

  #fullArticle .callout-yellow,
  #fullArticle .private-note {
    background: #fff6e3;
    border-color: #ffc555;
    margin: 2em 0 4em;
  }

  #fullArticle .callout-yellow.dashed {
    border-left-width: 1px;
  }

  #fullArticle .private-note {
    background: #fff6e3 url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--lock.svg') no-repeat top 18px right 18px;
    background-repeat: no-repeat;
    padding: 20px 24px;
  }

  #fullArticle .private-note > h4 {
    margin-top: 0;
  }

  #fullArticle a:hover,
  #fullArticle a:focus {
    color: #3b2a8c;
  }

  #fullArticle strong {
    color: #253642;
    font-weight: 700;
  }

  #fullArticle strong a {
    color: #ff6e76;
    font-weight: 700;
  }

  .articleFoot p,
  .articleFoot time {
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-style: normal;
    color: #556575;
  }

  .articleFoot i {
    color: #c5ced6;
  }

  #sbContact {
    color: #556575;
    border-bottom: 1px dotted #d5dce1;
  }

  #fullArticle .admin-edit {
    background-color: #fff;
    border: 1px solid #c2cbd3;
    box-shadow: none;
    color: #ff6e76;
    font-size: 13px;
    height: 24px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: -20px;
    width: auto;
    transition: all 0.2s ease-in-out;
  }

  #fullArticle .admin-edit:hover {
    border-color: #57b0fb;
  }

  .articleRatings {
    margin: 3em 0 4em;
    color: #556575;
    border: 0;
    background: #ffffff;
    box-shadow: none;
    border-radius: 5px;
    border: 2px solid #e5e9ec;
  }

  .icon-search::before {
    display: none;
  }

  .icon-article-doc {
    display: none;
  }

  strong,
  b {
    font-weight: 500;
    -webkit-font-smoothing: auto;
  }

  #serp {
    box-sizing: border-box;
  }

  #serp h1 strong {
    color: #6269c5;
  }

  #serp .articleList > li {
    padding: 0.5em 0 1.5em;
    margin: 1em 0 0 0;
    border-bottom: 1px solid #e5e9ec;
  }

  #serp .articleList > li a {
    font-weight: 500;
    /*padding-left: 23px;*/
    margin-bottom: 5px;
  }

  #serp .articleList > li p {
    margin: 0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #serp-dd {
    border-radius: 5px;
    border: none;
    top: 85px;
  }

  #serp-dd .result a {
    padding: 12px 15px;
  }

  #serp-dd .result > li.active {
    background: #f1f3f5;
  }

  #serp-dd .result > li {
    position: relative;
  }

  #serp-dd .result > li.active a {
    color: #005ca4 !important;
  }

  #serp-dd.sb {
    top: 45px;
    width: 375px;
  }

  #serp .articlesFound,
  #serp .nada {
    color: #748494;
  }

  #serp-dd .result > li.private a {
    color: #748494;
  }

  #serp-dd .icon-private-w:before {
    display: none;
  }

  #serp-dd .icon-private-w {
    background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--lock.svg');
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 9px;
  }

  /* Contact Modal */

  #contactModal {
    border: 0;
    width: 600px;
    margin-left: -300px;
    top: 8%;
  }

  #contactModal h2 {
    color: #1d2b36;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -0.35px;
    border: 0;
    padding: 40px 0 10px 60px;
  }

  #contactModal .control-label {
    float: none;
    display: block;
    color: #556575;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  #contactModal .controls {
    margin: 0;
  }

  #contactModal input[type='text'],
  #contactModal input[type='email'],
  #contactModal textarea {
    box-sizing: border-box;
    min-height: 42px;
    width: 100%;
  }

  #contactModal .modal-body {
    padding: 15px 60px 40px;
  }

  #contactModal #md-message {
    padding: 14px;
    height: 70px;
    width: 100%;
  }

  #contactModal .form-actions {
    padding: 0;
  }

  #contactModal input[type='submit'].btn {
    width: 100%;
    background: rgb(238, 130, 134);
    background: linear-gradient(
      90deg,
      rgba(238, 130, 134, 1) 0%,
      rgba(210, 84, 167, 1) 33%,
      rgba(167, 77, 193, 1) 66%,
      rgba(98, 70, 234, 1) 100%
    );
    border: 2px solid #101426;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgb(158, 159, 165);
    box-shadow: 2px 2px 0px 0px rgba(16, 20, 38, 1);
    height: 52px;
    transition: all 0.2s ease-in-out;
  }

  #contactModal input[type='submit'].btn:hover,
  #contactModal input[type='submit'].btn:focus,
  #contactModal input[type='submit'].btn:active {
    background: rgb(238, 130, 134);
    background: linear-gradient(
      90deg,
      rgba(238, 130, 134, 1) 0%,
      rgba(210, 84, 167, 1) 33%,
      rgba(167, 77, 193, 1) 66%,
      rgba(98, 70, 234, 1) 100%
    );
    transform: translate(1px, 1px);
    transition: 0.2s;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
    box-shadow: 1px 1px 0px 0px rgba(16, 20, 38, 1);
  }

  #contactModal .icon-close:before {
    display: none;
  }

  #contactModal .icon-close {
    background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--cross.svg');
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  #contactModal #closeBtn {
    right: 14px;
  }

  #contactModal .icon-close:hover {
    opacity: 1;
  }

  #file-upload:focus {
    border: none !important;
    box-shadow: none !important;
  }

  #contentArea > .appMessage {
    border-radius: 4px;
    color: #268c55;
    top: -25px;
    background: #e3fbee;
    border: 1px solid #56c288;
    font-size: 15px !important;
    width: 390px;
    margin: 0 auto;
    padding: 12px 30px;
    position: relative;
  }

  #contentArea > .appMessage em {
    background: none;
    color: #268c55;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
    margin-right: 0;
    padding-left: 22px;
    position: relative;
  }

  #contentArea > .appMessage em:before {
    content: '';
    background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--check.svg');
    width: 24px;
    height: 24px;
    position: absolute;
    left: -4px;
    top: -2px;
  }

  .appMessage {
    background: #d6edff;
    color: #005ca4;
    font-size: 14px !important;
    padding: 12px 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 999px) {
    .appMessage {
      padding: 12px 55px;
    }
  }

  @media screen and (min-width: 1000px) {
    .appMessage {
      padding: 12px 90px;
    }
  }

  .appMessage em {
    background: #1292ee;
    font-weight: 500;
    line-height: 1.1;
  }

  .modal-backdrop {
    background: #232a5c; /* purple 800 */
  }

  .modal-backdrop.in {
    opacity: 0.8;
  }

  /* contact form: page */

  #contactForm input,
  #contactForm textarea {
    min-height: 42px;
    box-sizing: border-box;
    width: 100%;
  }

  #contactForm textarea {
    padding: 14px;
  }

  #contactForm input.btn {
    width: auto;
    height: 52px;
    min-width: 150px;
    background: #404996;
    transition: all 0.2s ease-in-out;
  }

  #contactForm input.btn:hover {
    background: #232a5c;
    color: #fff;
  }

  #contactForm input.btn:focus,
  #contactForm input.btn:active {
    border: 1px solid;
    color: #fff;
  }

  #contactForm .control-group,
  #contactModal .control-group,
  .abuse .control-group {
    margin-bottom: 20px;
  }

  .icon-print:before {
    display: none;
  }

  .icon-print {
    background-image: url('https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--print.svg');
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  .icon-print:hover {
    opacity: 1;
  }

  /* Reset styles for Docs Style Guide */
  /* https://docs.helpscout.net/article/40-docs-style-guide */
  #fullArticle .demo-styles * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  #fullArticle .demo-styles pre {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  }
  #fullArticle .demo-styles p,
  #fullArticle .demo-styles ul,
  #fullArticle .demo-styles ol,
  #fullArticle .demo-styles li,
  #fullArticle .demo-styles div,
  #fullArticle .demo-styles blockquote,
  #fullArticle .demo-styles dd,
  #fullArticle .demo-styles table {
    font-size: 14px;
    color: #585858;
    line-height: 1.55em;
    margin-bottom: 1.5em;
  }
  #fullArticle .demo-styles blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eee;
  }
  #fullArticle .demo-styles pre {
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 11px;
    line-height: 18px;
  }
  #fullArticle .demo-styles p,
  #fullArticle .demo-styles ul,
  #fullArticle .demo-styles ol,
  #fullArticle .demo-styles li,
  #fullArticle .demo-styles div,
  #fullArticle .demo-styles blockquote,
  #fullArticle .demo-styles dd,
  #fullArticle .demo-styles table {
    font-size: 14px;
    color: #585858;
    line-height: 1.55em;
    margin-bottom: 1.5em;
  }
  #fullArticle .demo-styles h1,
  #fullArticle .demo-styles h2,
  #fullArticle .demo-styles h3,
  #fullArticle .demo-styles h4,
  #fullArticle .demo-styles h5 {
    margin: 9px 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 500;
    color: #1d2b36;
  }
  #fullArticle .demo-styles h1,
  #fullArticle .demo-styles h2,
  #fullArticle .demo-styles h3 {
    line-height: 36px;
  }
  #fullArticle .demo-styles h1 {
    font-size: 33px;
  }
  #fullArticle .demo-styles h2 {
    font-size: 27px;
  }
  #fullArticle .demo-styles h3 {
    font-size: 21px;
  }
  #fullArticle .demo-styles h4 {
    font-size: 15px;
  }
  #fullArticle .demo-styles h5 {
    font-size: 12px;
  }

  /* Errors */
  #errorContainer .icon-error {
    color: #ffc555;
    font-size: 36px;
  }

  #errorContainer p {
    color: #556575;
  }

  /* Component :: Hubspot Cookie Policy notice */

  body div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
    background: rgba(249, 250, 250, 0.95);
    border: 0;
    bottom: 0 !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    left: 0;
    line-height: 18px;
    max-width: 100%;
    padding: 20px;
    position: fixed;
    text-align: left;
    text-shadow: none !important;
    top: auto;
    z-index: 100000000 !important;
  }

  @media screen and (min-width: 768px) {
    body div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
      border-radius: 6px;
      bottom: 15px !important;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      left: 50%;
      max-width: 480px;
      transform: translate3d(-50%, 0, 0);
    }
  }

  body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    background: transparent !important;
    -webkit-font-smoothing: antialiased;
    padding: 0 !important;
  }

  body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    font-size: 14.5px !important;
    line-height: 21px !important;
    margin-bottom: 0 !important;
    padding-right: 90px !important;
  }

  body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p:first-child,
  body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p:first-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    font-size: 14.5px !important;
  }
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a {
  color: #07c !important;
  font-size: 14px !important;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  color: white !important;
  font-weight: 500 !important;
  background: #1292ee !important;
  border: 0 !important;
  border-radius: 4px !important;
  padding: 7px 16px !important;
  margin: 0 !important;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
  display: inline-block;
  margin: 0 !important;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

body
  div#hs-eu-cookie-confirmation
  div#hs-eu-cookie-confirmation-inner
  div#hs-en-cookie-confirmation-buttons-area
  #hs-eu-confirmation-button {
  margin: 0 !important;
  font-size: 14.5px !important;
}
